@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color:#FFFFFF;
}
.header-logo{
  display: flex;
  margin-right: 15px;
}

.header-main{
  display: flex;
  max-width: 1920px;
  /* width: 100%; */
  margin: 24px 16px;
    flex-direction: column;
}
.header-info{
  display: flex;
    justify-content: space-evenly;
  align-items: center;


}
.header-logo-cont{
  display: flex;
background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
  border-radius: 6px;
  height: 40px;
 margin-right: 12px;
}


.header-logo-text{
  display: inline-flex;
  font-family: Red Hat Display;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 36px;
}
.header-logo-img{
  display: flex;
  margin: 10px;
}
.header-cell{
  display: flex;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 158%;
}
.header-button-group_register{
  display: flex;
  flex-direction: row;
  
}
.header-button-link span{
  display: inline-flex;
  margin-right: 33px;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 158%;
color: #5A5B6A;
}
.header-button-link{
  text-decoration: none;
}
.header-button-link-info{
    text-decoration: none;
}
.header-button-link-info span{
  font-family: Inter;
font-style: normal;
font-weight: normal;
color:#2264D1;
}

.header-search{
  display: flex;
 position: relative;
 margin-right: 30px;

}
.header-search input{
  display: flex;
  /* width: 100%; */
     outline: 0;
    outline-offset: 0;
  width: 616px;
  height: 32px;
  border-radius: 99px;
  background: #EDEDF0;
  border: none;
    padding: 8px 8px 8px 44px;
}
.header-search .header-btn_search i.search {
    background: url('../img/search.svg') 0 0 no-repeat;
      height: 26px;
    width: 26px;
}


.header-btn_search{
  display: flex;
    justify-content: center;
    outline: none;
    position: absolute;
      left: 6px;
    top: 50%;
    transform: translateY(-50%);
   background: transparent;
    border: none;
    cursor: pointer;
}
.header-btn_search_cross{
    display: flex;
    justify-content: center;
    outline: none;
    position: absolute;
    right: 15px;
    top: 53%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-search .header-btn_search_cross i.cross{
      background: url('../img/close.svg') 0 0 no-repeat;
      height: 15px;
      width: 15px;
}
.header-button-group_login{
  display: flex;
}
.header-button-group_login .header-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px 12px;
  width:104px;
  background: transparent;
 border: 1px solid #9DC2FF;
 font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
color: #2264D1;
}
.header-button-group_login .header-button:hover{
box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}


.header-button:nth-child(2){
  width: 100px;
  margin-left: 15px;
}
.header-link-info{
  display: flex;
}
.header-avatar{
  display: flex;
  border-radius: 50%;
}
.header-nav{
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}
.wrapper{

    max-width: 1493px;
    padding: 0 214px;
}
ul{
  display: flex;
    flex-direction: row;
      justify-content: space-around;
 list-style: none;
    margin: 0;
    padding: 0;
}
  ul.ul_nav li {
    display: inline;
      padding: 5px 5px;
    margin: 0px 7px 0 0;
}
ul.ul_nav li a {
 text-decoration: none;
 display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
} 
ul.ul_nav li span {
  display: inline-flex;
   color: #787885;
   font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
} 


ul.ul_nav li:hover{
  background: #EBF2FF;
border-radius: 10px;
}


.nav-image{
  display: block;
    margin: 0 auto;
}

/* Боковое навигационное меню */
.sidebar {
  margin: 0;
  padding: 0;
  width: 304px;
  background-color: #f1f1f1;
  /* position: fixed; */
  height: 100%;
  overflow: auto;
}

/* Сайдбар ссылки */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Активная/текущая ссылка */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Ссылки при наведении мыши */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}